* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    position: relative;
    width: 100vw;
}

section#login {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    height: 515px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-timing-function: ease;
    transition: width .3s, heigth .3s;
    width: 250px;
}

#imagem {
    background-position: right bottom;
    background-size: cover;
    background: #5f2c82 url(../assets/pexels-lalesh-aldarwish-168414.jpg) no-repeat;
    display: block;
    height: 200px;
}

#formulario {
    display: block;
    padding: 10px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 0.7em;
    margin: 20px 0px;
}

.campo {
    background-color: #5f2c82;
    border-radius: 8px;
    border: 2px solid #5f2c82;
    display: block;
    height: 40px;
    margin: 5px 0px;
    width: 100%;
}

.campo > label {
    display: none;
}

.campo > span {
    color: white;
    font-size: 2em;
    padding: 5px;
    width: 40px;
}

.campo > input {
    background-color:#49a09d;
    border-radius: 8px;
    border: none;
    font-size: 0.9em;
    height: 36px;
    padding: 10px;
    transform: translateY(-14px);
    width: calc(100% - 44px);
}

.campo > input:focus-within {
    background-color: white;
}

input[type=submit] {
    background-color: #49a09d;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    height: 40px;
    width: 100%;
}

input[type=submit]:hover {
    background-color: #255352;   
}

.botao {
    background-color: white;
    border-radius: 5px; 
    border: 1px solid #49a09d;
    color: #255352;
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    height: 40px;
    margin-top: 5px;
    padding: 7px;
    text-align: center;   
    text-decoration: none;
    width: 100%;
}

.botao:hover {
    background: #255352;
    color: white;
}

form > a.botao > span {
    font-size: 0.8em;
}

