@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        height: 310px;
        width: 80vw;
    }

    section#login > div#imagem {
        float: left;
        height: 100%;
        width: 30%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }
    p {
        font-size: 0.9em;
    }

}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        height: 340px;
        width: 950px;
    }

    section#login > div#imagem {
        float: right;
        height: 100%;
        width: 50%;
    }

    section#login > div#formulario {
        float: left;
        height: 100%;
        width: 50%;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }
}


